* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
body {
    position: relative;
    min-width: 950px;
    background-color: #dedede;
    font-family: "Microsoft YaHei",serif;
}
header {
    position: relative;
    width:100%;
    height: 60px;
    background-color: #30002d;
}
header img {
    position: absolute;
    left: 60px;
    width: 145px;
    height: 60px;
}
header ul {
    position: absolute;
    height: 60px;
    right: 0px;
}
header ul li {
    margin-right: 25px;
    display: inline-block;
    line-height: 60px;
    list-style: none;
}
header ul a {
    color: #fff;
}
header ul a:hover {
    color: #bf9dca;
}
/*article*/
article {
    display: inline-block;
    margin-left: 25px;
    margin-right: 456px;
}
section {
    background-color: #fff;
    padding: 25px;
    margin-top: 25px;
    border-right: solid 3px #c5b9b9;
    border-bottom: solid 3px #c5b9b9;
}
section h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
section h3 {
    color: #746e70;
}
.name {
    margin: 15px 0 20px 8px;
    color: #a29491;
}
.name span:nth-of-type(2) {
    font: 15px italic;
    margin-left: 8px;
}
section p a {
    color: #a31c9b;
}
section p a:hover {
    color: #ef0ee2;
}
section img {
    margin: 10px 0 10px 0;
}
section ul li {
    list-style: none;
    margin: 5px 20px;
}
.pic div {
    float: left;
    width: 180px;
    height: 170px;
    margin: 10px;
    border: solid 1px #c5b9b9;
    text-align: center;
}
.pic div img {
    width: 140px;
    height: 120px;
}
section ol {
    margin-left: 35px;
}
section table {
    margin-top: 20px;
    width: 100%;
}
section tbody {
    text-indent: 1em;
}
section table tr:nth-of-type(1) {
    background: #333;
    color: #fff;
    text-align: left;
}
section table tr:nth-of-type(6) {
    background: #ccc;
    color: #03031d;
}
/*aside*/
aside {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 350px;
    padding: 25px;
    margin: 25px;
    border-right: solid 3px #c5b9b9;
    border-bottom: solid 3px #c5b9b9;
}
.tip { 
    display: inline-block;
    width: 35%;
    padding-right: 14px;
    text-align: right;
}

.remind {
    margin-left: 35%;
    padding: 13px 18px;
    color: #a4999d;
    font-size: 15px;
}
aside input {
    margin: 6px 0;
    height: 25px;
}
.select {
    margin: 10px 0;
}
.select input {
    position: relative;
    top: 7px;
    margin-left: 5px;
}
.intro {
    position:relative;

}
.intro textarea {
    margin-top: 20px;
    width: 55%;
    height: 150px;
}
.intro label {
    position: relative;
    bottom: 135px;
}
input[type="submit"] {
    display: block;
    width: 90%;
    height: 44px;
    margin: 10px auto;
    background-color: #752070;
    font-size: 20px;
    color: #ecb6cc;
}
input[type="submit"]:hover {
    cursor: pointer;
    border-radius: 15px;
    color: #fff;
    background-color: #98018f;
}

footer {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
    background-color: #30002d;
    color: #fff;
}
