.container input {
    margin: 5px 0;
}
#list {
    display: flex;
    align-items: flex-end;
    height: 100px;
}
#list li {
    display: inline-block;
    margin: 2px;
    /*vertical-align: bottom;;*/
    cursor: pointer;
    color: #fff;
    background: #ff4d00;
}
#list li:hover {
    color: #ff4d00;
    background: #fff;
}
